Source: dcpromo
Section: net
Priority: optional
Maintainer: Niklas Andersson <niklas.andersson@openforce.se>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.5

Package: dcpromo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, puppet-common (>=3), ruby-augeas
Description: Samba 4.1 AD DC
 Mimics behaviour of dcpromo.exe.
 Provision an Ubuntu 14.04 server to a fully fledged
 Samba 4.1 Active Directory Domain Controller, complete with
 local bind 9.9-server and Kerberos 5 configured.
