Source: elx-dcpromo
Section: net
Priority: optional
Maintainer: Nikas Andersson <niklas.andersson@openforce.se>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3

Package: elx-dcpromo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, puppet-common (>=3)
Description: Samba 4.1 AD DC
 Provision an Ubuntu 14.04 server to a fully fledged
 Samba 4.1 Active Directory Domain Controller, complete with
 local bind 9.9-server and Kerberos 5 configured.
